a {
    color: #000;
    text-decoration: none !important;
}

.form-imagecheck-figure:before {
	    border-color: #000 !important;
}

.navbar-nav .nav-item.active {
    color: #4ad0d7;
    text-decoration: none;
    background-color: #4ad0d742;
}


.pro-sidebar-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.pro-sidebar-logo > div {
  width: 30px;
  min-width: 30px;
  height: 30px;
  min-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 8px;
  color: white;
  font-size: 24px;
  font-weight: 700;
  background-color: #073771;
  margin-right: 10px;
}
.pro-sidebar-logo > h5 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 20px;
  line-height: 30px;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 1;
  
    display: block;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;

}